@font-face {
  font-family: "Nickainley-Normal";
  src: url("../fonts/Nickainley-Normal.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #626262;
}

::selection {
  background: #cfe3ec;
}

#app {
  padding: 0 3rem;
}

main,
.main-header {
  display: block;
  max-width: 991px;
  margin: 0 auto;
}

.main-header form {
  display: flex;
  align-items: center;
  margin: 0;
}

h1 {
  font-family: "Nickainley-Normal", Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
}
h1:hover {
  color: #01579b;
  transition: color 0.2s linear;
}

h2 {
  margin: 0.8em 0 !important;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #01579b;
}
h2 a{
    color:inherit;
    text-decoration: inherit;
    cursor:pointer;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.7rem;
  color: #01579b;
}

a {
  color: #1976d2;
}

.main-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1em 0;
  margin-bottom: 4rem;
}
.main-header h1 {
  margin-bottom: 0;
}
.main-header input {
  border: 0;
  border-bottom: 2px solid #626262;
  font-size: 1em;
  padding: 5px;
  outline: none;
}
.main-header a {
  color: black;
  text-decoration: none;
}

article {
  position: relative;
  margin-bottom: 5rem;
  padding: 0 2rem 2rem 2rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
article div {
  font-size: 1.6rem;
}
article li p {
  margin: 0.5em;
}
article header {
  display: flex;
  justify-content: space-between;
}
article header time {
  order: 1;
  align-self: center;
  font-weight: bold;
  color: #626262;
}

article.skeleton {
  height: 200px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 40px, transparent 0),
    linear-gradient(#ddd 40px, transparent 0),
    linear-gradient(#ddd 40px, transparent 0),
    linear-gradient(#ddd 40px, transparent 0);
  background-size: 30% 32px, calc(100% - 1rem) 24px, calc(100% - 1rem) 24px,
    calc(100% - 1rem) 24px;
  background-position: 1rem 1em, 1rem 70px, 1rem 110px, 1rem 150px;

  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
    background-size: 30% 32px, 70% 24px, 50% 24px, 80% 24px;
  }
  100% {
    opacity: 1;
  }
}

@media print {
  article {
    page-break-inside: avoid;
  }
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

pre {
  width: 100%;
  overflow: auto;
  border-radius: 3px;
}

thead {
  backgroun-color: #eee;
}

.btn {
  color: #666;
  position: relative;
  display: inline-block;
  background: none;
  border: 0;
  margin: 1em;
  padding: 5px;
  border-bottom: 3px solid black;
  cursor: pointer;
}
.btn:after {
  position: absolute;
  left: 50%;
  content: "";
  height: 3px;
  background: #01579b;
  transition: all 0.2s linear;
  width: 0;
  bottom: -3px;
}
.btn:hover {
  color: #01579b;
}
.btn:hover:after {
  width: 100%;
  left: 0px;
}

.no-articles {
  font-family: "Nickainley-Normal", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 5rem;
  padding: 5rem;
}

[v-cloak] {
  display: none;
}

#search-results {
  margin-top: 50px;
}
#search-results ul {
  padding: 0;
  margin: 0;
}
#search-results ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  line-height: 3em;
  vertical-align: middle;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

#search-results .loading {
  height: 22px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 40px, transparent 0);
  background-size: 0% 16px;
  background-position: 1rem 0;
  animation: search-loading 1s infinite;
}

@keyframes search-loading {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
    background-size: 100% 16px;
  }
  100% {
    opacity: 1;
  }
}
