@font-face {
    font-family: 'Nickainley-Normal';
    src: url('../fonts/Nickainley-Normal.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Open Sans', sans-serif;
}
#landing{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
img{
    margin: 4rem 0 2rem 0;
}
main{
    text-align:center;
}
div#content, div#availability{
    text-align:left;
    padding:1rem 3rem;
}
div#availability{
    border-radius:5px;
}
div#content{
}
main div div{
    margin:0 auto;
    max-width:750px;
}
h1{
    font-family: 'Nickainley-Normal', Arial, Helvetica, sans-serif;
    font-size:3.2rem;
}
h1, footer{
    text-align:center;
}
footer{
    color:#3E2723;
    margin-top:2rem;
}
footer i{
    margin-right:0.5rem
}
.illustration {
    padding : 0 1rem;
    max-height: 200px;
}
ul{
    list-style-type:none;
    padding:0;
}
ul li{
    padding:1rem;
    display:inline-block;
    font-size:3rem;
    line-height:3rem;
}
ul li i, ul li a{
    font-size:3rem;
    vertical-align:middle;
}
ul li a{
    font-size:1.5rem;
    text-decoration:none;
}
ul li a:hover{
    filter: brightness(150%);
}

.cv-links{
    display:inline-block;
    background-color:white;
    margin:1em;
    border : 1px solid #aaa;
    border-radius: 3px;
}

.cv-links a:first-child{
    border-right:1px solid #ccc;
}

.cv-links a{
    display:inline-block;
    height:3em;
    line-height:3em;
    padding:0 1em;
    text-align:center;
    font-size:1em;
    text-decoration:none;
}
.cv-links a:hover,.cv-links a:active,.cv-links a:visited{
    
}
