<!DOCTYPE html>
<html>
  <head>
    <title>Crieloue Gilles - CV</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../root-css/knacss.css" />
    <link rel="stylesheet" href="./cv.css" />
    <link rel="stylesheet" href="../root-css//print.css" media="print" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1>Crieloue Gilles</h1>
      <p>Ingénieur logiciel</p>
    </header>
    <main id="cv">
      <section class="side">
        <article id="about" class="about" v-if="paragraphs[0]">
          <h2>A propos de moi</h2>
          <div v-cloak v-html="paragraphs[0].fields.text"></div>
        </article>
        <article id="skills" v-if="paragraphs[1]">
          <h2>Compétences</h2>
          <div v-cloak v-html="paragraphs[1].fields.text"></div>
        </article>
        <article id="languages" v-if="paragraphs[3]">
          <h2>Langues</h2>
          <div v-cloak v-html="paragraphs[3].fields.text"></div>
        </article>
      </section>
      <section id="cv-content">
        <article id="education" v-if="paragraphs[2]">
          <h2>Formation</h2>
          <div v-cloak v-html="paragraphs[2].fields.text"></div>
        </article>
        <div id="experience">
          <h2>Mes expériences</h2>
          <div id="workExperiences">
            <article
              v-cloak
              class="workExperience"
              v-for="content in workExperiences"
            >
              <h3>
                <span class="period"
                  >{{content.fields.begin}} - {{content.fields.end}}</span
                >
                : {{ content.fields.title }}
              </h3>
              <div v-html="content.fields.description"></div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <script type="module" src="./cv.js"></script>
  </body>
</html>
